<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title='Java Web Intro'">

<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title th:text="|Заметка|"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/filter.css}"/>

    <script sec:authorize="hasRole('ROLE_ADMIN')" th:src="@{/static/js/admin/articles/controller.js}"></script>

</head>
<body>
<header th:replace="fragments/header :: header(articles, user)"></header>
<main>
    <nav class="nav-extended">
        <div class="nav-wrapper indigo darken-4">
            <div class="row">
                <div class="col s12">
                    <a th:href="@{/articles}" class="breadcrumb">Заметки</a>
                    <a th:href="@{'/categories/' + ${category.id}}" th:text="${category.name}"
                       class="breadcrumb"></a>
                    <a th:href="@{'/articles/' + ${article.id}}" th:text="${article.title}"
                       class="breadcrumb"></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <input type="hidden" id="id" th:field="${article.id}"/>
                    <span class="card-title" th:text="|${article.getTitle()}|"></span>
                    <p th:text="|Автор: ${user.getFullName()}|"></p>
                    <p th:text="|Дата: ${#dates.format(article.dateCreate,'dd-MM-yyyy HH:mm')}|"></p>
                    <a th:href="@{'/categories/' + ${article.categoryId}}" th:text="|${category.name}|"></a>
                    <p th:text="|${article.content}|"></p>

                </div>
                <div class="card-action" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button onclick="ArticleController.show()"
                            th:if="${article.status == T(org.communis.javawebintro.enums.ArticleStatus).NEW}"
                            type="button" class="waves-effect waves-light btn blue darken-4">Принять
                    </button>
                    <button onclick="ArticleController.hide()"
                            th:if="${article.status == T(org.communis.javawebintro.enums.ArticleStatus).SHOWN}"
                            type="button" class="waves-effect waves-light btn indigo darken-4">Скрыть
                    </button>
                    <button onclick="ArticleController.block()"
                            th:if="${ article.status != T(org.communis.javawebintro.enums.ArticleStatus).BLOCKED}"
                            type="button" class="waves-effect waves-light btn indigo darken-4">Заблокировать
                    </button>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>