<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">

<header th:fragment="header(item, user)">
    <div class="navbar-fixed">
        <nav class="nav-extended indigo darken-4">
            <div class="nav-wrapper">
                <a class="brand-logo center" th:href="@{/}">Java Web Intro</a>
                <ul id="nav-mobile" class="left">
                    <li><a href="#" data-activates="slide-out" id="collapse-btn"><i class="material-icons">menu</i></a>
                    </li>
                </ul>
            </div>

            <!--<div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab">
                        <a th:class="${item == 'categories'} ? 'active' : ''" target="_self"
                           th:href="@{/categories}">
                            Категории
                        </a>
                    </li>
                    <li class="tab">
                        <a th:class="${item == 'articles'} ? 'active' : ''" target="_self"
                           th:href="@{/articles}">
                            Заметки
                        </a>
                    </li>
                </ul>
            </div>-->
        </nav>

    </div>

    <ul id="slide-out" class="side-nav collapsible">
        <li>
            <div class="user-view indigo darken-4"
                 th:with="isAnonymous=${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}">
                <a th:class="${isAnonymous ? 'not-clickable' : 'underline-link'}"
                   th:href="@{${isAnonymous ? '#' : '/my'}}">
                            <span class="white-text name"
                                  th:text="${!isAnonymous ?
                    #authentication.getPrincipal().getUser().getFullName() : 'Анонимный пользователь'}">
                            </span>
                </a>
                <span sec:authorize="!hasRole('ROLE_ANONYMOUS')"
                      class="white-text email not-clickable"
                      th:text="${#authentication.getPrincipal().getUser().getEmail()}">
                        </span>
            </div>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="collapsible-header">
                <i class="material-icons">build</i>
                Упраление
            </div>
            <div class="collapsible-body">
                <ul>
                    <li th:class="${item == 'user'} ? 'indigo lighten-5' : ''">
                        <a th:href="@{/admin/users}">Пользователи</a>
                    </li>
                    <li th:class="${item == 'category'} ? 'indigo lighten-5' : ''">
                        <a th:href="@{/admin/categories}">Категории</a>
                    </li>
                </ul>
            </div>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="divider"></div>
        </li>
        <li sec:authorize="!hasRole('ROLE_ANONYMOUS')"
            th:class="${item == 'categories'} ? 'indigo lighten-5' : ''">
            <a th:href="@{/categories}">Категории</a>
        </li>
        <li sec:authorize="!hasRole('ROLE_ANONYMOUS')"
            th:class="${item == 'articles'} ? 'indigo lighten-5' : ''">
            <a th:href="@{/articles}">Заметки</a>
        </li>
        <li sec:authorize="!hasRole('ROLE_ANONYMOUS')"
            th:class="${item == 'myarticles'} ? 'indigo lighten-5' : ''">
            <a th:href="@{/articles/my}">Мои заметки</a>
        </li>
        <li sec:authorize="!hasRole('ROLE_ANONYMOUS')"
            th:class="${item == 'addarticle'} ? 'indigo lighten-5' : ''">
            <a th:href="@{/articles/add}">Новая заметка</a>
        </li>
        <li sec:authorize="!hasRole('ROLE_ANONYMOUS')">
            <div class="divider"></div>
        </li>
        <li sec:authorize="!hasRole('ROLE_ANONYMOUS')">
            <a th:href="@{/logout}">Выход</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ANONYMOUS')">
            <a th:href="@{/login}">Войти</a>
        </li>
    </ul>
</header>
