#toast-container {
    margin-left: auto !important;
    margin-right: auto !important;
    top: auto !important;
    right: auto !important;
    bottom: 30%;
    left: 37%;
}

#toast-container .toast {
    background-color: red;
}