<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title th:text="|Категории|"></title>

    <!--<link rel="stylesheet" type="text/css" th:href="@{/static/css/filter.css}"/>-->

    <script th:src="@{/static/lib/floatThead/jquery.floatThead.min.js}"></script>
    <script th:src="@{/static/js/filter.js}"></script>
</head>
<body>
<header th:replace="fragments/header :: header(categories, user)"></header>
<main class="container">
    <div class="card-panel">
        <div class="row caption">
            <h4 class="col s12" th:text="${'Категории'}"></h4>
        </div>
        <div th:replace="fragments/filter :: filter('/categories')"></div>
    </div>
    <div class="card">
        <table class="bordered highlight">
            <thead>
            <tr>
                <th>Название категории</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${page}"
                th:onclick="'request(\'' + @{|/categories/${category.id}|}+ '\');'">
                <td th:text="|${category.getName()}|"></td>
            </tr>
            </tbody>
        </table>

        <div th:if="${page.totalPages > 1}" class="card-content page-info">
            <div th:replace="fragments/pagination :: pagination('/categories')"></div>
        </div>
    </div>
</main>
</body>
</html>