<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title='Java Web Intro'">

<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title>${category.name}</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/filter.css}"/>

</head>
<body>
<header th:replace="fragments/header :: header(categories, user)"></header>
<main class="container">
    <div class="card-panel">
        <nav class="breadcrumb-nav">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a th:href="@{/categories}" class="breadcrumb">Категории</a>
                    <a th:href="@{'/categories/' + ${category.id}}" th:text="${category.name}"
                       class="breadcrumb"></a>
                </div>
            </div>
        </nav>
        <div th:replace="fragments/filter :: filter('/categories/' + ${category.id})"></div>
    </div>
    <div class="card"
         th:each="article : ${page.items}"
         th:onclick="'request(\'' + @{|/articles/${article.id}|}+ '\');'">
        <div class="card">
            <div class="card-content">
                <span class="card-title" th:text="|${article.getTitle()}|"></span>
                <p th:text="|${category.getDateOpen()}|"></p>
                <a th:href="@{/categories/${article.getCategoryId()}}">${article.getCategoryId()}</a>
            </div>
            <div class="card-action">
                <a th:href="@{/articles/${article.id}}">Подробнее</a>
            </div>
        </div>
    </div>
    <div th:if="${page.total > 1}" class="card-content page-info">
        <div th:replace="fragments/pagination :: pagination('/')"></div>
    </div>

    <div sec:authorize="hasRole('ROLE_AUTHOR')"
         th:replace="fragments/filter :: addButton('/articles/add')"></div>
</main>
</body>
</html>