<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:with="title='Java Web Intro'">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title>Java Web Intro</title>
</head>
<body>
<header th:replace="fragments/header :: header(main, user)"></header>
<main class="container">
    <div class="card-panel">
        <p class="flow-text center-align">
            Добро пожаловать *,..,*
        </p>
    </div>
    <div class="card"
         th:each="article : ${page}">
        <div class="card">
            <div class="card-content">
                <span class="card-title" th:text="|${article.title}|"></span>
                <p th:text="|Автор: ${article.author.getFullName()}|"></p>
                <p th:text="|Дата: ${#dates.format(article.dateCreate,'dd-MM-yyyy HH:mm')}|"></p>
                <p>
                    <span th:text="|Категория: |">Категория: </span>
                    <a th:href="@{'/categories/' + ${article.category.id}}" th:text="${article.category.name}">Категория</a>
                </p>
                <p th:text="|${article.content}|"></p>
            </div>
            <div class="card-action">
                <a th:href="@{'/articles/' + ${article.id}}">Подробнее</a>
            </div>
        </div>
    </div>
    <div th:if="${page.totalPages > 1}" class="card-panel">
        <div th:replace="fragments/pagination :: pagination('/')"></div>
    </div>

    <div th:replace="fragments/filter :: addButton('/articles/add')"></div>

</main>
</body>
</html>